<main>
    <div class="head-title">
        <div class="left">
            <div>
                <h1>Details Project</h1>
            
            </div>
            
        
        </div>
    </div>
    

    


    <div class="table-data ">
        <div class="order">
            <div class="head">
                <h3>Recent Technologies</h3>
        
                
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Technologies</th>

                        <th>Licencce</th>


                        <th>Descrption</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>
                            <img src="/assets/Quarkus.png">
                            <p ></p>
                        </td>
                    
                        <td> 
                            <p>3.10.2</p>
                        </td>
                        <td> 
                            <p>This release contains bugfixes and documentation improvements. It should be a safe upgrade for anyone already using 3.10.</p>
                        </td>
                        
                            
                    </tr>
                    <tr >
                        <td>
                            <img src="/assets/angular.png">
                            <p ></p>
                        </td>
                    
                        <td> 
                            <p>16</p>
                        </td>
                        <td> 
                            <p> apportant de nouvelles améliorations et de nouvelles fonctionnalités, ainsi que des modifications importantes et des dépréciations..</p>
                        </td>
                        
                            
                    </tr>
                    <tr >
                        <td>
                            <img src="/assets/bootstrap.jpg">
                            <p ></p>
                        </td>
                    
                        <td> 
                            <p>5.3.3</p>
                        </td>
                        <td> 
                            <p> the most popular HTML, CSS, and JavaScript framework for creating responsive, mobile-first websites.</p>
                        </td>
                        
                            
                    </tr>

                   
                    
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="table-data ">
        <div class="order">
            <div class="head">
                <h3>Recent Environements</h3>
        
                
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Technologies</th>

                        <th>Branche</th>


                       
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>
                            <img src="/assets/gitlab.png">
                            <p ></p>
                        </td>
                    
                        <td> 
                            <p>https://gitlab.digital-factory.fr.pwcglb.com/-/profile/Risk_Assisment</p>
                        </td>
                        
                        
                            
                    </tr>
                   

                   
                    
                </tbody>
            </table>
        </div>
        
    </div>
</main>