
<div class="login_body">
  <div class="wrapper">
    <form action="#">
      
      <img src="/assets/Logoo.png">
      <h4> </h4>
        <div class="input-field">
        <input type="text" required>
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" required>
        <label>Enter your password</label>
        
        
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit" routerLink="/home">Log In</button>
      <div class="register">
        <h4>vous n'avez pas de compte? <a routerLink="/register">Register</a></h4>
      </div>
    </form>
  </div>
</div>

