
    
   <section id="sidebar">
     <a class="brand">
        <img src="/assets/logo.png">
     </a>
    <ul class="side-menu top" >
        <li >
            <a routerLink="home">
              <i class='bx bxs-dashboard' ></i>
            <span class="text">Dashbord</span>
            </a>
        </li>
        <li>
            <a routerLink="projects">
                <i class='bx bx-task'></i>
            <span class="text">Projects</span>
            </a>
        </li>
        <li>
            <a routerLink="tickets">
                <i class='bx bxs-bar-chart-alt-2' ></i>
            <span class="text">Tickets</span>
            </a>
        </li>
        <li>
            <a routerLink="profil">
                <i class='bx bxs-user-account'></i>
            <span class="text">Profil</span>
            </a>
        </li>
        <li>
            <a routerLink="team">
                <i class='bx bxs-group' ></i>
            <span class="text">Team</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class='bx bx-cog' ></i>
            <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a routerLink="login">
                <i class='bx bx-log-out' ></i>
            <span class="text">Logout</span>
            </a>
        </li>
    </ul>
   </section>
<app-navbar></app-navbar>

