<main>
    <div class="head-title">
        <div class="left">
            <div>
                <h1>Team</h1>
            
            </div>
            
        
        </div>
    </div>
    

    


    <div class="table-data ">
        <div class="order">
            <div class="head">
                <h3>Recent Developpers</h3>
        
                
            </div>
            <table>
                <thead>
                    <tr>
                        <th>DisplayName</th>
                        
                        
                        <th>EmailAdress</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let developpeur of Developpers">
                        <td>
                            <img src="assets/moj.jpg">
                            <p >{{developpeur.displayName}}</p>
                        </td>
                    
                        <td> 
                          {{developpeur.emailAddress}}
                        </td>
                        <td> <i class='bx bxs-x-circle' ></i></td>
                                
                    </tr>
                   
                    
                </tbody>
            </table>
        </div>
        
    </div>
</main>
