
	<main>
		<div class="head-title">
			<div class="left">
				<div>
					<h1>Dashboard</h1>
				
				</div>
				
			
			</div>
		</div>
		

		<ul class="box-info">
			<li>
				<i class='bx bxs-calendar-check' ></i>
				<span class="text">
					<h3>1020</h3>
					<p>New Order</p>
				</span>
			</li>
			<li>
				<i class='bx bxs-group' ></i>
				<span class="text">
					<h3>2834</h3>
					<p>Developpers</p>
				</span>
			</li>
			<li>
				<i class='bx bxs-briefcase-alt-2'></i>
				<span class="text">
					<h3>{{projects.length}}</h3>
					<p>Projects</p>
				</span>
			</li>
			<li>
				<div class="count-down-timer">
					<p>Countdown to {{ currentTime }} for ur ticket deadline</p>
					<p> </p>
					<div class="wrapper">
					  <div class="description">
						<p>Days</p>
						<p>Hours</p>
						<p>Minutes</p>
						<p>Seconds</p>
					  </div>
					  <div class="times">
						<p #days></p>
						<p #hours></p>
						<p #minutes></p>
						<p #seconds></p>
					  </div>
					</div>
				  </div>
			</li>
		</ul>


		<div class="table-data">
			<div class="order">
				<div class="head">
					<h3>Recent Orders</h3>
					<i class='bx bx-search' ></i>
					<i class='bx bx-filter' ></i>
				</div>
				<table>
					<thead>
						<tr>
							<th>User</th>
							<th>Date Order</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<img src="assets/moj.jpg">
								<p>Mojtabah Mehri</p>
							</td>
							<td>30-06-2024</td>
							<td><span class="status pending">Pending</span></td>
						</tr>
						<tr>
							<td>
								<img src="assets/moj.jpg">
								<p>Mojtabah Mehri</p>
							</td>
							<td>29-06-2024</td>
							<td><span class="status pending">Pending</span></td>
						</tr>
						<tr>
							<td>
								<img src="assets/moj.jpg">
								<p>Mojtabah Mehri</p>
							</td>
							<td>28-06-2024</td>
							<td><span class="status process">Process</span></td>
						</tr>
						<tr>
							<td>
								<img src="assets/moj.jpg">
								<p>Mojtabah Mehri</p>
							</td>
							<td>25-06-2024</td>
							<td><span class="status pending">Pending</span></td>
						</tr>
						<tr>
							<td>
								<img src="assets/moj.jpg">
								<p>Mojtabah Mehri</p>
							</td>
							<td>23-06-2024</td>
							<td><span class="status process">Process</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="todo">
				<div class="head">
					<h3>Todos</h3>
					<i class='bx bx-plus' ></i>
					<i class='bx bx-filter' ></i>
				</div>
				<ul class="todo-list">
					<li class="completed">
						<p>Todo List</p>
						<i class='bx bx-dots-vertical-rounded' ></i>
					</li>
					<li class="completed">
						<p>Todo List</p>
						<i class='bx bx-dots-vertical-rounded' ></i>
					</li>
					<li class="not-completed">
						<p>Todo List</p>
						<i class='bx bx-dots-vertical-rounded' ></i>
					</li>
					<li class="completed">
						<p>Todo List</p>
						<i class='bx bx-dots-vertical-rounded' ></i>
					</li>
					<li class="not-completed">
						<p>Todo List</p>
						<i class='bx bx-dots-vertical-rounded' ></i>
					</li>
				</ul>
			</div>
		</div>
		
	</main>